<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<nav th:fragment="navbar" class="bg-blue-600 text-white p-4">
    <div class="container mx-auto flex justify-between">
        <a href="/events" class="font-bold">
            NGO Anderlecht
        </a>

        <div class="space-x-4">
            <a href="/events/new" class="hover:underline">New Event</a>
            <a href="/about" class="hover:underline">About</a>
            <a href="/contact" class="hover:underline">Contact</a>
        </div>
    </div>
</nav>

</body>
</html>